Adora_Apparel1/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7097/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7097/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7097/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataModel" />
      <xsd:import schemaLocation="http://localhost:7097/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getstockPurchasing_InputMessage">
    <wsdl:part name="parameters" element="tns:getstockPurchasing" />
  </wsdl:message>
  <wsdl:message name="IService1_getstockPurchasing_OutputMessage">
    <wsdl:part name="parameters" element="tns:getstockPurchasingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addStockPurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:addStockPurchase" />
  </wsdl:message>
  <wsdl:message name="IService1_addStockPurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:addStockPurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addUser_InputMessage">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="IService1_addUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IService1_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateStockPurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:updateStockPurchase" />
  </wsdl:message>
  <wsdl:message name="IService1_updateStockPurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateStockPurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteStockPurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteStockPurchase" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteStockPurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteStockPurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addNewShipment_InputMessage">
    <wsdl:part name="parameters" element="tns:addNewShipment" />
  </wsdl:message>
  <wsdl:message name="IService1_addNewShipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNewShipmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getshippmentTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:getshippmentTitle" />
  </wsdl:message>
  <wsdl:message name="IService1_getshippmentTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:getshippmentTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addStockOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:addStockOrders" />
  </wsdl:message>
  <wsdl:message name="IService1_addStockOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:addStockOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addFixOverHead_InputMessage">
    <wsdl:part name="parameters" element="tns:addFixOverHead" />
  </wsdl:message>
  <wsdl:message name="IService1_addFixOverHead_OutputMessage">
    <wsdl:part name="parameters" element="tns:addFixOverHeadResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getStockOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:getStockOrders" />
  </wsdl:message>
  <wsdl:message name="IService1_getStockOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStockOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addFOBPurchasing_InputMessage">
    <wsdl:part name="parameters" element="tns:addFOBPurchasing" />
  </wsdl:message>
  <wsdl:message name="IService1_addFOBPurchasing_OutputMessage">
    <wsdl:part name="parameters" element="tns:addFOBPurchasingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateFOBPurchasing_InputMessage">
    <wsdl:part name="parameters" element="tns:updateFOBPurchasing" />
  </wsdl:message>
  <wsdl:message name="IService1_updateFOBPurchasing_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateFOBPurchasingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteFOBPurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteFOBPurchase" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteFOBPurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteFOBPurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getfabricFOBPurchasing_InputMessage">
    <wsdl:part name="parameters" element="tns:getfabricFOBPurchasing" />
  </wsdl:message>
  <wsdl:message name="IService1_getfabricFOBPurchasing_OutputMessage">
    <wsdl:part name="parameters" element="tns:getfabricFOBPurchasingResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getstockPurchasing">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getstockPurchasing" message="tns:IService1_getstockPurchasing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getstockPurchasingResponse" message="tns:IService1_getstockPurchasing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addStockPurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addStockPurchase" message="tns:IService1_addStockPurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addStockPurchaseResponse" message="tns:IService1_addStockPurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addUser" message="tns:IService1_addUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addUserResponse" message="tns:IService1_addUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/login" message="tns:IService1_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginResponse" message="tns:IService1_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateStockPurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateStockPurchase" message="tns:IService1_updateStockPurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateStockPurchaseResponse" message="tns:IService1_updateStockPurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteStockPurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteStockPurchase" message="tns:IService1_deleteStockPurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteStockPurchaseResponse" message="tns:IService1_deleteStockPurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addNewShipment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addNewShipment" message="tns:IService1_addNewShipment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addNewShipmentResponse" message="tns:IService1_addNewShipment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getshippmentTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getshippmentTitle" message="tns:IService1_getshippmentTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getshippmentTitleResponse" message="tns:IService1_getshippmentTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addStockOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addStockOrders" message="tns:IService1_addStockOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addStockOrdersResponse" message="tns:IService1_addStockOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addFixOverHead">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addFixOverHead" message="tns:IService1_addFixOverHead_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addFixOverHeadResponse" message="tns:IService1_addFixOverHead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStockOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getStockOrders" message="tns:IService1_getStockOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getStockOrdersResponse" message="tns:IService1_getStockOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addFOBPurchasing">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addFOBPurchasing" message="tns:IService1_addFOBPurchasing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addFOBPurchasingResponse" message="tns:IService1_addFOBPurchasing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateFOBPurchasing">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateFOBPurchasing" message="tns:IService1_updateFOBPurchasing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateFOBPurchasingResponse" message="tns:IService1_updateFOBPurchasing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteFOBPurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteFOBPurchase" message="tns:IService1_deleteFOBPurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteFOBPurchaseResponse" message="tns:IService1_deleteFOBPurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getfabricFOBPurchasing">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getfabricFOBPurchasing" message="tns:IService1_getfabricFOBPurchasing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getfabricFOBPurchasingResponse" message="tns:IService1_getfabricFOBPurchasing_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getstockPurchasing">
      <soap:operation soapAction="http://tempuri.org/IService1/getstockPurchasing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStockPurchase">
      <soap:operation soapAction="http://tempuri.org/IService1/addStockPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://tempuri.org/IService1/addUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IService1/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStockPurchase">
      <soap:operation soapAction="http://tempuri.org/IService1/updateStockPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteStockPurchase">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteStockPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewShipment">
      <soap:operation soapAction="http://tempuri.org/IService1/addNewShipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getshippmentTitle">
      <soap:operation soapAction="http://tempuri.org/IService1/getshippmentTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStockOrders">
      <soap:operation soapAction="http://tempuri.org/IService1/addStockOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addFixOverHead">
      <soap:operation soapAction="http://tempuri.org/IService1/addFixOverHead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStockOrders">
      <soap:operation soapAction="http://tempuri.org/IService1/getStockOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addFOBPurchasing">
      <soap:operation soapAction="http://tempuri.org/IService1/addFOBPurchasing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateFOBPurchasing">
      <soap:operation soapAction="http://tempuri.org/IService1/updateFOBPurchasing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteFOBPurchase">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteFOBPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getfabricFOBPurchasing">
      <soap:operation soapAction="http://tempuri.org/IService1/getfabricFOBPurchasing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:7097/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>